.span-style {
  font-size: 10px;
  color: gray;
}

.ul-style {
  border: 3px solid violet;
  padding: 15px 50px;
}

.dislike-button {
  background-color: hotpink;
  border-top: 1px solid black;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  text-transform: uppercase;
}
